@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", "Inter Fallback", sans-serif;
  background-color: rgb(250 250 250);
  color: rgb(72 72 72);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
